# Git
.git
.gitignore
.gitattributes

# IDEs
.idea
.vscode
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Node
node_modules
npm-debug.log

# Composer
vendor

# Laravel
storage/app/*
!storage/app/.gitignore
!storage/app/public
storage/framework/cache/*
!storage/framework/cache/.gitignore
storage/framework/sessions/*
!storage/framework/sessions/.gitignore
storage/framework/testing/*
!storage/framework/testing/.gitignore
storage/framework/views/*
!storage/framework/views/.gitignore
storage/logs/*
!storage/logs/.gitignore
bootstrap/cache/*
!bootstrap/cache/.gitignore

# Environment
.env
.env.backup
.env.production

# Testing
.phpunit.result.cache
coverage
tests

# Documentation
*.md
!README.md

# Docker
docker-compose.override.yml

# Build files
public/hot
public/storage
public/build

# PostgreSQL data
postgres_data
